@keyframes glow {
    0% {
      border-color: #00f0ff;
      box-shadow: 0 0 5px #00f0ff, 0 0 15px #ff00ff;
    }
    50% {
      border-color: #ff00ff;
      box-shadow: 0 0 10px #ff00ff, 0 0 20px #00f0ff;
    }
    100% {
      border-color: #00f0ff;
      box-shadow: 0 0 5px #00f0ff, 0 0 15px #ff00ff;
    }
  }
  
  .glow-border-3side {
    position: relative;
    border-style: solid;
    /* border-width: 2px 2px 2px 0px; top, right, bottom, left (0 for left) */
    /* border-color: #00f0ff; */
    border-radius: 0.5rem;
    box-shadow: none;
    transition: box-shadow 0.3s ease;
  }
  
  .glow-border-3side:hover {
    animation: glow 2s infinite;
    box-shadow: 0 0 8px #00f0ff, 0 0 20px #ff00ff;
  }
  